@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
}

.front {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.671)), url(bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 99vh;
    
    font-family: "Poppins", serif;
    color: white;
    display: grid;
    grid-template-columns: 3fr 4.2fr 1.3fr 1.5fr;
    gap: 10px;
    grid-template-rows: 3fr 4fr 3fr;
    z-index: 0;
}

.navbar {
    display: grid;
}

#logo {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: top;
    justify-self: center;
}

#lang {
    position: relative;
    top: 23px;
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
    align-items: start;
    justify-self: center;
    background-color: transparent;
}
select {
    background-color: transparent;
    border-radius: 5px;
    height: 20px;
    color: white;
}

option {
    background-color: transparent;
    color: white;
}

.signout {
    position: relative;
    top: 20px;
    display: grid;
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: start;
    font-size: 12px;
    height: 20px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: rgb(226, 6, 6);
    cursor: pointer;
}

.heading {
    grid-column: 2/3;
    grid-row: 2/3;
    align-items: center;
    justify-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 900;
}

.price {
    position: relative;
    top: 145px;
    grid-column: 2/3;
    grid-row: 2/3;
    align-items: self-end;
    justify-self: center;
    font-weight: 550;
}

.signup {
    position: relative;
    top: -20px;
    grid-column: 2/3;
    grid-row: 3/4;
    height: 30px;
    align-items: center;
    justify-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(219, 4, 4);
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.out {
    position: absolute;
    top: 90vh;
    left: 0px;
    height: 120px;
    width: 100%;
    border-radius: 45%;
    overflow: hidden;
    background: linear-gradient(to right, rgb(20, 0, 20), rgb(150, 37, 90), rgb(218, 26, 26), rgb(150, 37, 90), rgb(20, 1, 20));
    z-index: 5;
}

.design {
    position: relative;
    top: 3px;
    z-index: 10;
    height: 130px;
    border-radius: inherit;
    background: radial-gradient(50% 500% at 50% -420%, rgba(71, 101, 221, 0.4) 80%, rgb(0 0 0 / 10%) 100%), #000000;
}

.trends {
    position: relative;
    top: 105vh;
    left: -286px;
    display: flex;
    height: 80px;
    width: 170%;
    background-color: #000000;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    font-weight: 500;
    z-index: 12;
}

.opts {
    position: relative;
    top: 83vh;
    left: 110px;
    display: flex;
    gap: 10px;
    z-index: 14;
}

.top10 {
    position: absolute;
    top: 125vh;
    left: 8.5vw;
    width: 90vw;
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr;
    align-items: end;
    justify-self: center;
    cursor: pointer;
}

.reasons {
    position: absolute;
    top: 170vh;
    left: 8.4vw;
    width: 90%;
    height: 50px;
    background-color: #000000;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 255px;
    gap: 10px;
}

.h4 {
    grid-column: 1/3;
}

.item {
    position: relative;
    top: 15px;
    left: 13px;
    height: 300px;
    width: 250px;
    grid-row: 2/3;
    align-content: center;
    justify-items: start;
    border-radius: 10px;
    left: 13px;
    background: linear-gradient(#192247,  #210e17)
}

.para {
    font-size: 15px;
    flex-wrap: wrap;
    color: rgb(173, 177, 177);
}

.faq {
    position: absolute;
    top: 235vh;
    left: 8.4vw;
    display: flex;
    flex-direction: column;
}

.faqhead {
    font-size: 20px;
}

.qu {
    display: grid;
    grid-template-columns: 9fr 1fr;
    background-color: rgb(44, 43, 43);
    height: 65px;
    width: 86vw;
    margin: 5px;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.signup2 {
    position: absolute;
    top: 335vh;
    left: 7.3vw;
    height: 30px;
    width: 150px;
    align-items: center;
    justify-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(219, 4, 4);
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.end {
    position: absolute;
    top: 355vh;
    left: 7.3vw;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 50px 140px;
    font-size: 12px;
    color: rgb(173, 177, 177);
}

.call {
    grid-column: 1/3;
}

.li {
    grid-row: 2/3;
}

ul {
   list-style: none;
}

.lang {
    position: relative;
    top: 360vh;
    left: -80vw;
    align-items: start;
    justify-self: center;
    background-color: transparent;
}

.netflixI {
    position: absolute;
    top: 400vh;
    left: 7.3vw;
    color: rgb(173, 177, 177);
}

@media screen and (max-width: 500px) {
   .front { max-width: 550px;
           height: 60vh;
          }
}
